:root {
    --black:        #000000;
    --white:        #ffffff;
    --dark-gray:    #717171;
    --light-gray:   #C5C5C5;
    --v-light-gray: #F2F2F2;
    --dark-blue:    #00405B;
    --green:        #1DBE00;
    --orange:       #DF7800;
}